{% load helpers %}
<div class="card">
  <h5 class="card-header d-flex justify-content-between align-items-center">
    Interface {{ side }}
    {% if perms.netbox_cmdb.change_deviceinterface %}
    <a href="{% url 'plugins:netbox_cmdb:deviceinterface_edit' pk=interface.pk %}?return_url={{ return_url }}"
       class="btn btn-sm btn-warning">
      <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
    </a>
    {% endif %}
  </h5>
  <div class="card-body">
    <table class="table table-hover attr-table">
      <tr>
        <th>Device</th>
        <td>{{ interface.device|linkify }}</td>
      </tr>
      <tr>
        <th>Interface</th>
        <td><a href="{{ interface.get_absolute_url }}">{{ interface.name }}</a></td>
      </tr>
      <tr>
        <th>Enabled</th>
        <td>{% checkmark interface.enabled %}</td>
      </tr>
      <tr>
        <th>State</th>
        <td>{% badge interface.get_state_display %}</td>
      </tr>
      <tr>
        <th>Monitoring state</th>
        <td>{% badge interface.get_monitoring_state_display %}</td>
      </tr>
      <tr>
        <th>Autonegotiation</th>
        <td>{% checkmark interface.autonegotiation %}</td>
      </tr>
      <tr>
        <th>Speed</th>
        <td>{{ interface.speed|placeholder }}</td>
      </tr>
      <tr>
        <th>FEC</th>
        <td>{{ interface.get_fec_display|placeholder }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ interface.description|placeholder }}</td>
      </tr>
    </table>

    <h5 class="card-text mt-3">Logical interfaces</h5>
    {% for logical in interface.logicalinterface.all %}
    <div class="card mb-2">
      <h6 class="card-header d-flex justify-content-between align-items-center">
        <a href="{{ logical.get_absolute_url }}">{{ logical.name }}</a>
        {% if perms.netbox_cmdb.change_logicalinterface %}
        <a href="{% url 'plugins:netbox_cmdb:logicalinterface_edit' pk=logical.pk %}?return_url={{ return_url }}"
           class="btn btn-sm btn-warning">
          <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
        </a>
        {% endif %}
      </h6>
      <div class="card-body">
        {% include 'netbox_cmdb/inc/logicalinterface_attrs.html' with logical=logical %}
      </div>
    </div>
    {% empty %}
    <span class="text-muted">None</span>
    {% endfor %}
  </div>
</div>
