{% extends 'generic/object.html' %} {% load helpers %}
{% block title %}{{ object.device }} ({{ object.name }}){% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item">{{ object.device|linkify }}</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-12 col-xl-6">
    <div class="card">
      <h5 class="card-header">Device Interface</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th>Device</th>
            <td>{{ object.device|linkify }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th>Enabled</th>
            <td>{% checkmark object.enabled %}</td>
          </tr>
          <tr>
            <th>State</th>
            <td>{% badge object.get_state_display bg_color=object.get_state_color %}</td>
          </tr>
          <tr>
            <th>Monitoring state</th>
            <td>{% badge object.get_monitoring_state_display bg_color=object.get_monitoring_state_color %}</td>
          </tr>
          <tr>
            <th>Autonegotiation</th>
            <td>{% checkmark object.autonegotiation %}</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>{{ object.speed|placeholder }}</td>
          </tr>
          <tr>
            <th>FEC</th>
            <td>{{ object.get_fec_display|placeholder }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col col-12 col-xl-6">
    <div class="card">
      <h5 class="card-header">Logical Interfaces</h5>
      <div class="card-body">
        {% for logical in object.logicalinterface.all %}
        <div class="card mb-2">
          <h6 class="card-header d-flex justify-content-between align-items-center">
            <a href="{{ logical.get_absolute_url }}">{{ logical.name }}</a>
            {% if perms.netbox_cmdb.change_logicalinterface %}
            <a href="{% url 'plugins:netbox_cmdb:logicalinterface_edit' pk=logical.pk %}?return_url={{ object.get_absolute_url }}"
               class="btn btn-sm btn-warning">
              <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
            </a>
            {% endif %}
          </h6>
          <div class="card-body">
            {% include 'netbox_cmdb/inc/logicalinterface_attrs.html' with logical=logical %}
          </div>
        </div>
        {% empty %}
        <span class="text-muted">None</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
