{% extends 'generic/object.html' %} {% load helpers %}
{% block title %}{{ object.parent_interface.device }} ({{ object.name }}){% endblock %}
{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">{{ object.parent_interface.device|linkify }}</li>
  <li class="breadcrumb-item">
    <a href="{{ object.parent_interface.get_absolute_url }}">{{ object.parent_interface.name }}</a>
  </li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-12 col-xl-6">
    <div class="card">
      <h5 class="card-header">Logical Interface</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th>Device</th>
            <td>{{ object.parent_interface.device|linkify }}</td>
          </tr>
          <tr>
            <th>Parent interface</th>
            <td><a href="{{ object.parent_interface.get_absolute_url }}">{{ object.parent_interface.name }}</a></td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
          </tr>
        </table>
        {% include 'netbox_cmdb/inc/logicalinterface_attrs.html' with logical=object %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-xl-6">
    <div class="card">
      <h5 class="card-header">Management Routes</h5>
      <div class="card-body">
        {% with routes=object.managementroute.all %}
        {% if routes %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kind</th>
              <th>Prefix</th>
              <th>Next-hop</th>
            </tr>
          </thead>
          <tbody>
            {% for route in routes %}
            <tr>
              <td>{% badge route.get_kind_display bg_color=route.get_kind_color %}</td>
              <td><a href="{{ route.get_absolute_url }}">{{ route.prefix }}</a></td>
              <td>{{ route.next_hop|placeholder }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <span class="text-muted">None</span>
        {% endif %}
        {% endwith %}
      </div>
      <div class="card-footer text-end noprint">
        <a href="{% url 'plugins:netbox_cmdb:managementroute_add' %}?logical_interface={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-sm btn-primary">
          <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a management route
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
