{% extends "base/layout.html" %}

{% block title %}Port Layouts{% endblock %}

{% block content-wrapper %}
<div class="content-container">
  <div class="content px-3">
    <div class="d-flex justify-content-between align-items-center my-3">
      <h1 class="page-title my-0">Port Layouts</h1>
      {% if perms.netbox_cmdb.add_portlayout %}
      <a href="{% url 'plugins:netbox_cmdb:portlayout_add' %}" class="btn btn-sm btn-primary">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add
      </a>
      {% endif %}
    </div>

    <div class="row mb-3">
      <div class="col col-md-4">
        <form method="get">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search hardware or role..." value="{{ search_value }}">
            <button type="submit" class="btn btn-primary">
              <i class="mdi mdi-magnify"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">Hardware / Network role combinations</h5>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Manufacturer</th>
              <th>Hardware (device type)</th>
              <th>Network role</th>
              <th>Ports</th>
            </tr>
          </thead>
          <tbody>
            {% for layout in layouts %}
            <tr>
              <td>{{ layout.device_type__manufacturer__name }}</td>
              <td>
                <a href="{% url 'plugins:netbox_cmdb:portlayout_group' device_type_id=layout.device_type network_role_id=layout.network_role %}">
                  {{ layout.device_type__model }}
                </a>
              </td>
              <td>{{ layout.network_role__name }}</td>
              <td>{{ layout.port_count }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4" class="text-muted text-center">No port layout found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content-wrapper %}
